<!DOCTYPE html>


<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="main-content">


{{>header}}
<!--<h1>{{title}}</h1>-->
<img class="potrait" src="/img/robot.png"></img>
<p>Created by  {{name}}</p>
</div>

{{>footer}}
</body>
</html>



